main{
    .contenedor{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        grid-gap: 15px;
        .item{
            border: 5px solid $color-bordes;
            border-radius: 15px;
            overflow: hidden;
            transition: all 0.7s;
        }
        .item:hover{
            transform: scale(-2.1);
            transition: all 0.7s;
            box-shadow: 8px 8px 15px darkgrey;
        }
        .item_1{
            height: auto;
            width: 100%;
            padding: 10px;
        }
    }
}