main{
    height: 100vg;
    width: 100%;
    .jumbotron{
        margin-bottom: 20px;
        position: relative;
        img{
            width: 100%;
            display: block;
            object-fit: cover;
        }
        .fondo{
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 25px;
            background-color: lightblue;
            opacity: 0.6;
            padding: 5px;
            border-radius: 40px;
            h1{
                text-align: center;
                font-size: 35px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
                position: relative;
            }
            p{
                font-size: 20px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
                position: relative;
                text-align: center;
            }
        }
    }
    .cards-container{
        .card{
            height: 610px;
            width: 300px;
            padding: 10px;
            border: 5px solid $color-fondo;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: auto;
            .img1{
                min-height: 200px;
                border-radius: 15px;
            }
            h3{
                padding: 15px;
            }
            a{
                background-color: $color-fondo;
                color: $color-link;
                text-decoration: none;
                padding: 10px 15px;
            }
            a:hover{
                background-color: $color-letra;
                color:$color-fondo;
            }
        }
    }
    .servicios{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        min-height: 400px;
        padding-top: 20px;
        .ser-left{
            width: 100%;
            img{
                width:100%;
                height: 300px;
            }
        }
        .ser-right{
            width: 100%;
            ul{
                padding: 20px;
                color: $color-link;
                font-size: 25px;
                text-align: center;
                list-style: none;
            }
        }
    }
}