@media (min-width:480px){
    .card{
        border-radius: 15px;
    }
    .cont1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 500px);
        .img_oni{
            border: 5px solid $color-bordes;
            border-radius: 15px;
            width: 100%;
        }
    }
    main{
        .contenedor{
            grid-template-columns:  1fr 1fr;
            grid-template-rows: repeat(4, auto);
        }
    }
}
@media screen and (min-width: 768px){
    .cards-container{
        display: flex;
        justify-content: space-evenly;
        .card{
            height: 500px;
        }
    }
    .servicios{
        .ser-left{
            img{
                display: none;
            }
        }
    }
    .cont1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px;
        .img_oni{
            justify-self: center;
            width: 300px;
        }
    }
    .about-img2{
        padding-left: 30px;
    }
    .about-me{
        padding: 40px;
        p{
            font-size: 20px;
        }
    }
    .contacto{
        .img_cont{
            float: left;
            height: 400px;
            display: flex;
            margin: auto;
        }
        form{
            display: inline-block;
            width: 350px;
        }
    }
    main{
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);

        .item1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
    }
}
@media screen and (min-width: 1024px) {
    .container-about-me{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;        ;
        grid-template-rows: repeat(2, auto);
        .about-caja1{
            grid-column: 3/4;
            grid-row: 1/2;
            height: 350px;
            margin-left: 0;
        }
        .sec1{
            grid-column: 1/3;
            grid-row: 1/2;
            padding: 30px 70px;
            p{
                font-size: 20px;
            }
        }
        .about-caja2{
            height: 350px;
            margin-right: 0;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .sec2{
            grid-column: 2/4;
            grid-row: 2/3;
            padding: 30px 70px;
            p{
                font-size: 20px;
            }
        }
    }
    .cuerpo_blog{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: auto;
        .blogs{
            grid-column: 1/3;
        }
        .cont1{
            grid-column: 1/3;
            grid-row: 2/auto;
            .img_oni{
                width: 600px;    
            }
        }
        .arti2{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        aside{
            grid-column: 3/4;
            grid-row: 1/5;
            font-size: 20px;
            border-radius: 15px;
        }
    }
    .contacto{
        .img_cont{
            height: 500px;
            margin-left: 80px;
        }
        form{
            width: 450px;
        }
    }
}