@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #6ba3b8;
  border-radius: 15px;
}

h1, h2, h3 {
  color: #6ba3b8;
  text-align: center;
}

p {
  color: #6ba3b8;
}

img {
  object-fit: cover;
}

header {
  grid-area: header;
  padding: 0 15px;
  background-color: #dcffff;
  font-family: sans-serif;
}
header .navbar-brand img {
  height: 100px;
}
header .navbar-nav li {
  list-style: none;
}
header .navbar-nav li a {
  color: #4585a0;
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
}

.navbar-nav li a:hover {
  color: #6ba3b8;
  text-decoration: underline;
  font-size: 17px;
}

main {
  height: 100vg;
  width: 100%;
}
main .jumbotron {
  margin-bottom: 20px;
  position: relative;
}
main .jumbotron img {
  width: 100%;
  display: block;
  object-fit: cover;
}
main .jumbotron .fondo {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 25px;
  background-color: lightblue;
  opacity: 0.6;
  padding: 5px;
  border-radius: 40px;
}
main .jumbotron .fondo h1 {
  text-align: center;
  font-size: 35px;
  color: #0074D9;
  text-shadow: 2px 2px 4px #0074D9;
  position: relative;
}
main .jumbotron .fondo p {
  font-size: 20px;
  color: #0074D9;
  text-shadow: 2px 2px 4px #0074D9;
  position: relative;
  text-align: center;
}
main .cards-container .card {
  height: 610px;
  width: 300px;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}
main .cards-container .card .img1 {
  min-height: 200px;
  border-radius: 15px;
}
main .cards-container .card h3 {
  padding: 15px;
}
main .cards-container .card a {
  background-color: #ccc;
  color: #4585a0;
  text-decoration: none;
  padding: 10px 15px;
}
main .cards-container .card a:hover {
  background-color: #6ba3b8;
  color: #ccc;
}
main .servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  min-height: 400px;
  padding-top: 20px;
}
main .servicios .ser-left {
  width: 100%;
}
main .servicios .ser-left img {
  width: 100%;
  height: 300px;
}
main .servicios .ser-right {
  width: 100%;
}
main .servicios .ser-right ul {
  padding: 20px;
  color: #4585a0;
  font-size: 25px;
  text-align: center;
  list-style: none;
}

.container-about-me .about-img1 {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 300px;
  margin: auto;
}
.container-about-me .about-img1 .about-caja1 {
  height: 100%;
  border: 2px solid #665e5e;
  border-radius: 15px;
}
.container-about-me .about-img2 {
  display: flex;
  justify-content: center;
  height: 350px;
  margin: auto;
}
.container-about-me .about-img2 .about-caja2 {
  height: 100%;
  width: 100%;
  border: 2px solid #665e5e;
  border-radius: 15px;
}
.container-about-me .about-me {
  text-align: center;
  padding: 15px;
}
.container-about-me .about-me a {
  text-decoration: none;
}
.container-about-me .about-me p {
  font-size: 18px;
}

.blogs {
  margin: 20px;
  height: auto;
  border: 2px solid #665e5e;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}
.blogs .contenedor-blog {
  padding: 20px;
}

.view {
  margin: 20px;
}

.texto-completo {
  display: none;
}
.texto-completo p {
  display: inline;
}

.nota[type=checkbox] {
  height: 15px;
  display: block;
  appearance: none;
}

.nota_blog {
  position: relative;
  padding: 20px;
  background-color: #ccc;
  color: #4585a0;
  padding: 10px 15px;
}

.nota_blog::before {
  content: "Ver mas";
}

.nota[type=checkbox]:checked ~ .nota_blog::before {
  content: "Ver menos";
}

.view:has(~ .nota[type=checkbox]:checked) {
  display: none;
}

.texto-completo:has(~ .nota[type=checkbox]:checked) {
  display: inline;
}

.cont1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  overflow: hidden;
}
.cont1 .img_oni {
  border: 5px solid #665e5e;
  border-radius: 15px;
  width: 100%;
}

.arti2 .nota[type=checkbox] {
  height: 15px;
  display: block;
  appearance: none;
}
.arti2 .nota_blog {
  position: relative;
  padding: 20px;
  background-color: #ccc;
  color: #4585a0;
  padding: 10px 15px;
}
.arti2 .nota_blog::before {
  content: "Ver mas";
}
.arti2 .nota[type=checkbox]:checked ~ .nota_blog::before {
  content: "Ver menos";
}
.arti2 .view:has(~ .nota[type=checkbox]:checked) {
  display: none;
}
.arti2 .texto-completo:has(~ .nota[type=checkbox]:checked) {
  display: inline;
}
.arti2 ol li {
  color: #6ba3b8;
}
.arti2 ol li strong {
  color: black;
}

aside {
  background-color: #ccc;
  display: inline-block;
  text-align: center;
  min-height: 400px;
  width: 100%;
  font-size: 30px;
}
aside ul {
  list-style: none;
}
aside h2 {
  font-size: 30px;
}
aside a {
  text-decoration: none;
}

.contacto {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.contacto ul {
  list-style: none;
}
.contacto ul li {
  padding-bottom: 5px;
}
.contacto img {
  height: 300px;
}
.contacto form {
  background-color: #6ba3b8;
  border-radius: 15px;
  padding: 10px;
}
.contacto form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contacto form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.contacto form .button {
  background-color: #ccc;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.contacto form .button:hover {
  background-color: #0074D9;
  color: #ccc;
}

.contenedor {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  grid-gap: 15px;
}
.contenedor .item {
  border: 5px solid #665e5e;
  border-radius: 15px;
  overflow: hidden;
}
.contenedor .item:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 8px 8px 15px #91c2d0;
  transition: all 0.5s;
}
.contenedor .item_1 {
  height: 200px;
  width: 100%;
}

footer {
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #dcffff;
}
footer .img-footer img {
  height: 200px;
}
footer .enlaces {
  font-size: 18px;
}
footer .enlaces ul {
  font-family: "Poppins";
  padding: 0;
}
footer .enlaces ul li {
  list-style: none;
}
footer .enlaces ul li a {
  text-decoration: none;
  color: #4585a0;
}
footer .enlaces ul li a:hover {
  color: #6ba3b8;
}
footer .redes-sociales {
  transition: all 0.5s ease;
  line-height: 40px;
  font-size: 40px;
}
footer .redes-sociales .redes {
  letter-spacing: 10px;
}
footer .redes-sociales .redes:hover {
  padding-left: 10px;
  font-size: 45px;
}

.subir {
  height: 40px;
  color: #0074D9;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 30px;
}

@media (min-width: 480px) {
  .card {
    border-radius: 15px;
  }
  .cont1 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 500px);
  }
  .cont1 .img_oni {
    border: 5px solid #665e5e;
    border-radius: 15px;
    width: 100%;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media screen and (min-width: 768px) {
  .cards-container {
    display: flex;
    justify-content: space-evenly;
  }
  .cards-container .card {
    height: 500px;
  }
  .servicios .ser-left img {
    display: none;
  }
  .cont1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
  }
  .cont1 .img_oni {
    justify-self: center;
    width: 300px;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
  }
  .contenedor .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contenedor .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .contenedor .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contenedor .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .contenedor .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contenedor .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .contenedor .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedor .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .contenedor .item_1 {
    height: 250px;
  }
  .about-img2 {
    padding-left: 30px;
  }
  .about-me {
    padding: 40px;
  }
  .about-me p {
    font-size: 20px;
  }
  .contacto .img_cont {
    float: left;
    height: 400px;
    display: flex;
    margin: auto;
  }
  .contacto form {
    display: inline-block;
    width: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .container-about-me .about-caja1 {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 350px;
    margin-left: 0;
  }
  .container-about-me .sec1 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 30px 70px;
  }
  .container-about-me .sec1 p {
    font-size: 20px;
  }
  .container-about-me .about-caja2 {
    height: 350px;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .container-about-me .sec2 {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 30px 70px;
  }
  .container-about-me .sec2 p {
    font-size: 20px;
  }
  .cuerpo_blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .cuerpo_blog .blogs {
    grid-column: 1/3;
  }
  .cuerpo_blog .cont1 {
    grid-column: 1/3;
    grid-row: 2/auto;
  }
  .cuerpo_blog .arti2 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .cuerpo_blog aside {
    grid-column: 3/4;
    grid-row: 1/5;
    font-size: 20px;
    border-radius: 15px;
  }
  .contacto .img_cont {
    height: 500px;
    margin-left: 80px;
  }
  .contacto form {
    width: 450px;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 350px);
    place-items: center;
  }
  .contenedor .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contenedor .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contenedor .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contenedor .item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contenedor .item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .contenedor .item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .contenedor .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contenedor .item8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .contenedor .item_1 {
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
