@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$fuente1:sans-serif;
$fuente2: 'Poppins';
$color-fondo:#ccc;
$color-letra: #6ba3b8;
$color-nav: #dcffff;
$color-link:#4585a0;
$color-resaltador:#0074D9;
$color-bordes: #665e5e;
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: $color-fondo;
}
::-webkit-scrollbar-thumb{
    background-color: $color-letra;
    border-radius: 15px;
}
h1, h2, h3{
    color: $color-letra;
    text-align: center;
}
p{
    color: $color-letra;
}
img{
    object-fit: cover;
}
@import "_header";
@import "_footer";
@import "_index";
@import "_about";
@import "_blog";
@import "_contacto";
@import "_galeria";
@import "_media";