@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #6ba3b8;
    border-radius: 15px;
}
/* font-family: 'Roboto', sans-serif; */

/*color: #4585a0, #6ba3b8, #91c2d0, #b6e0e7, #dcffff; */

/* Estilos Header */
header{
    padding: 20px;
}
.navbar-brand img{
    height: 100px;
}
.navbar-nav li a{
    color: #4585a0;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}
.navbar-nav li a:hover{
    color: #91c2d0;
    text-decoration: underline;
    font-size: 17px;
}

/* Estilos Main-Home*/
main{
    height: 100vg;
    width: 100%;
}
.banner{
    height: 400px;
    width: 90%;
    margin: 5px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.banner img{
    /* overflow: hidden; */
    height: auto;
    /* width: 90%; */
}
h1, h2{
    color: #6ba3b8;
    text-align: center;
}
h3{
    color: #6ba3b8;
    font-size: 40px;
}
p{
    color: #6ba3b8;    
    font-size: 20px;
}
.card{
    height: 500px;
    width: 300px;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}
.card__img{
    height: 200px;
    background-color: #0074D9;
    background-size: cover;
    background-position: center;
}
.img1{
    background-image: url(../images/cuidado_de_u単as.jpg);
}
.img2{
    background-image: url(../images/u単as_color_rojo.jpg);
}
.img3{
    background-image: url(../images/trabajando_las_u単as.jpg);
}
.card h2{
    padding: 15px;
}
.card p{
    font-size: 20px;
}
.card a{
    background-color: #ccc;
    color: #4585a0;
    text-decoration: none;
    padding: 10px 15px;
}
.card a:hover{
    background-color: #6ba3b8;
    color: #ccc;
}
.servicios{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    min-height: 800px;
    padding-top: 20px;
}
.ser-left{
    height: 400px;
    width: 100%;
    background-color: #0074D9;
    background-image: url(../images/trabajando_las_u単as.jpg);
    background-size: cover;
    background-position: center;
}
.ser-right{
    width: 100%;
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
}
.ser-right i{
    padding: 15px;
    text-align: center;
}
.ser-right ul{
    padding: 20px;
    color: #91c2d0;
    font-size: 30px;
    list-style-type: circle;
}

/* Estilos Sobre Mi */
.about-me{
    padding: 20px;
    text-align: center;
}
a{
    text-decoration: none;
}
.about-me1{
    height: 550px;
    background-color: #6ba3b8;
    background-image: url(../images/sobre\ mi.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px;
    border: 2px solid #665e5e;
    border-radius: 15px;
}
.about-me2{
    height: 380px;
    width: auto;
    background-color: #6ba3b8;
    background-image: url(../images/certificado\ de\ asistencia.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px;
    border: 2px solid #665e5e;
    border-radius: 15px;
}

/* estilos blog */
.contenido-completo{
    display: none;
}
.leer-mas-label{
    cursor: pointer;
    color: #0074D9;
}
#mostrar-tema:checked + #contenido-completo {
    display: block;
}
.mostrar-tema {
    display: none;
}
/* estilos galeria */
.contenedor{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 15px;
}
.item{
    border: 5px solid #ffffff;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}
.item:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 8px 8px 15px #91c2d0;
    transition: all 0.5s;
}
.item1{
    background-image:url(../images/capping.jpeg);
}
.item2{
    background-image: url(../images/almendrada.jpeg);
}
.item3{
    background-image: url(../images/B\ despues\ stiletto.jpeg);
}
.item4{
    background-image: url(../images/semi-permanente.jpeg);
}
.item5{
    background-image: url(../images/semi-permanente\ clasico.jpeg);
}
.item6{
    background-image: url(../images/semi-permanente\ 2.jpeg);
}
.item7{
    background-image: url(../images/semi-permanente\ rojo\ pasion.jpeg);
}
.item8{
    background-image: url(../images/semi-permanente\ y\ capping.jpeg);
}

/* Estilos del Footer */
footer{
    background-color: #4585a0;
    width: 100%;
    text-align: center;
}
.img-footer img{
    height: 200px;
    width: auto;
}

.logo-footer{
    min-height: 150px;
    margin-right: 50px;
    margin-left: 50px;
}
.enlaces{
    font-size: 20px;
}
.enlaces li{
    /* display: inline; */
    text-decoration: none;
    list-style: none;

}
.enlaces li a{
    text-decoration: none;
    color: #4585a0;
}
.enlaces li a:hover {
    color: #00c3ff;
    padding-left: 6px;
}
.redes-sociales{
    transition: all .5s ease;
    line-height: 40px;
    font-size: 40px;
}
.redes-sociales:hover{
    padding-left: 10px;
}
.redes{
    letter-spacing: 10px;
}

.subir{
    height: 40px;
    color: #0074D9;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
}

 /* Media Queries */
 @media only screen and (min-width:480px){
    .contenedor{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        }
 }
 .card{
    border-radius: 15px;
}
 @media only screen and (min-width:768px){
    .cards-container{
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        height: 500px;
    }
    .servicios{
        width: 100%;
        flex-wrap: nowrap;
        min-height: 500px;
        padding-top: 40px;
    }
    .contenedor{
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: repeat(4, 250px);
        }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .about-me{
        padding: 40px;
    }
    .about-me1{
        height: 700px;
        margin: 20px 70px;
    }
    .about-me2{
        height: 600px;
        margin: 10px 70px;
    }
 }
 @media only screen and (min-width:1024px){
    .contenedor{
        grid-template-columns: 1fr  1fr 1fr 1fr;
        grid-template-rows: repeat(4, 350px);
        }
        .item1{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 3/5;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/3;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 3/5;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 3/5;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/3;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 3/5;
            grid-row: 4/5;
        }
        .container-about-me{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr
            ;
            grid-template-rows: repeat(2, auto);
        }
        .sec1{
            grid-column: 1/3;
            grid-row: 1/2;
            padding: 30px 70px;
        }
        .about-me1{
            grid-column: 3/4;
            grid-row: 1/2;
            height: 350px;
            margin-left: 0;
        }
        .about-me2{
            height: 350px;
            margin-right: 0;
            grid-column: 1/2;
            grid-row: 2/3;    
        }
        .sec2{
            grid-column: 2/4;
            grid-row: 2/3;
            padding: 30px 70px;
        }
}