@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$fuente1:sans-serif;
$fuente2: 'Poppins';

//Paleta de Colores
$color-fondo:#ccc;
$color-letra: #6ba3b8;
$color-nav: #dcffff;
$color-link:#4585a0;
$color-resaltador:#0074D9;
$color-bordes: #665e5e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: $color-fondo;
}
::-webkit-scrollbar-thumb{
    background-color: $color-letra;
    border-radius: 15px;
}
h1, h2, h3{
    color: $color-letra;
    text-align: center;
}
p{
    color: $color-letra;
}
//Estilos Header
header{
    padding: 0 15px;
    background-color: $color-nav;
    font-family: $fuente1;
    .navbar-brand{
        img{
            height: 100px;
        }
    }
    .navbar-nav{
        li{
            list-style: none;
            a{
                color:$color-link;
                font-weight: bold;
                font-size: 16px;
                margin-right: 20px;
            }
        }
    }
}
.navbar-nav{
    li{
        a:hover{
            color: $color-letra;
            text-decoration: underline;
            font-size: 17px;
        }
    }
}
// Estilos Index
main{
    height: 100vg;
    width: 100%;
    .jumbotron{
        background-image: url(../images/banner\ seleccion\ de\ uñas.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        margin-bottom: 20px;
        .fondo{
            display: inline-block;
            background-color: lightblue;
            opacity: 0.6;
            padding: 15px;
            border-radius: 40px;
            h1{
                text-align: left;
                font-size: 60px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
            }
            p{
                font-size: 30px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
            }
        }
    }
    p{
        text-align: center;
    }
    .card{
        height: 500px;
        width: 300px;
        padding: 20px;
        border: 5px solid $color-fondo;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: auto;
        .card__img{
            height: 200px;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
        }
        .img1{
            background-image: url(../images/cuidado_de_uñas.jpg);
        }
        .img2{
            background-image: url(../images/uñas_color_rojo.jpg);
        }
        .img3{
            background-image: url(../images/trabajando_las_uñas.jpg);
        }
        h3{
            padding: 15px;
        }
        a{
            background-color: $color-fondo;
            color: $color-link;
            text-decoration: none;
            padding: 10px 15px;
        }
        a:hover{
            background-color: $color-letra;
            color:$color-fondo;
        }
    }
    .servicios{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        min-height: 800px;
        padding-top: 20px;
        .ser-left{
            height: 400px;
            width: 100%;
            background-image: url(../images/trabajando_las_uñas.jpg);
            background-size: cover;
            background-position: center;
        }
        .ser-right{
            width: 100%;
            ul{
                padding: 20px;
                color: $color-link;
                font-size: 25px;
                text-align: center;
                list-style: none;
            }
        }
    }
}
// Estilos-Sobre Mi
.about-caja1{
    height: 550px;
    background-image: url(../images/sobre\ mi.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px;
    border: 2px solid $color-bordes;
    border-radius: 15px;
}
.about-caja2{
    height: 380px;
    width: auto;
    background-image: url(../images/certificado\ de\ asistencia.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px;
    border: 2px solid $color-bordes;
    border-radius: 15px;
}
.about-me{
    padding: 20px;
    text-align: center;
    a{
        text-decoration: none;
    }
    p{
        font-size: 18px;
    }
}

//Esilos Blog
.blogs{
    margin: 20px;
    height: auto;
    border: 2px solid $color-bordes;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    .contenedor-blog{
        padding: 20px;
    }
}
.view{
    margin: 20px;
}

.texto-completo{
    display: none;
    p{
        display: inline;
    }
}

input[type="checkbox"] {
    height: 15px;
    display: block;
    appearance: none;
}
label{
    position: relative;
    padding: 20px;
    background-color: $color-fondo;
    color: $color-link;
    padding: 10px 15px;
}
label::before{
    content: "Ver mas";
}
input[type="checkbox"]:checked ~ label::before{
    content: "Ver menos";
}
.view:has(~ input[type="checkbox"]:checked){
    display: none;
}
.texto-completo:has(~ input[type="checkbox"]:checked){
    display: inline;
}

.cont1{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 250px);
    grid-gap: 15px;
    .imagen{
        background-size: cover;
        background-position: center;
        border: 5px solid $color-bordes;
        border-radius: 15px;
    }
    .onico{
        background-image: url(../images/01\ antes\ onicofagia.jpeg);
    }
    .onico2{
        background-image: url(../images/02\ despues\ onicofagia.jpeg);
    }
}
.arti2{
    input[type="checkbox"] {
        height: 15px;
        display: block;
        appearance: none;
    }
    label{
        position: relative;
        padding: 20px;
        background-color: $color-fondo;
        color: $color-link;
        padding: 10px 15px;
    }
    label::before{
        content: "Ver mas";
    }
    input[type="checkbox"]:checked ~ label::before{
        content: "Ver menos";
    }
    .view:has(~ input[type="checkbox"]:checked){
        display: none;
    }
    .texto-completo:has(~ input[type="checkbox"]:checked){
    display: inline;
    }
    ol{
        li{
            color: $color-letra;
            strong{
                color: black;
            }
        }
    }
}


//Estilos Contactos

// Estilos Galeria
.contenedor{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 15px;
    .item{
        border: 5px solid $color-bordes;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
    }
    .item:hover{
        transform: scale(1.1);
        transition: all 0.5s;
        box-shadow: 8px 8px 15px #91c2d0;
        transition: all 0.5s;
    }
    .item1{
        background-image:url(../images/capping.jpeg);
    }
    .item2{
        background-image: url(../images/almendrada.jpeg);
    }
    .item3{
        background-image: url(../images/B\ despues\ stiletto.jpeg);
    }
    .item4{
        background-image: url(../images/semi-permanente.jpeg);
    }
    .item5{
        background-image: url(../images/semi-permanente\ clasico.jpeg);
    }
    .item6{
        background-image: url(../images/semi-permanente\ 2.jpeg);
    }
    .item7{
        background-image: url(../images/semi-permanente\ rojo\ pasion.jpeg);
    }
    .item8{
        background-image: url(../images/semi-permanente\ y\ capping.jpeg);
    }
}
// Estilos Footer
footer{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: $color-nav;
    .img-footer{
        img{
            height: 200px;
            width: auto;
        }
    }
    .enlaces{
        font-size: 20px;
        ul{
            font-family: $fuente2;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $color-link;
                }
                a:hover {
                    color: $color-letra;
                    padding-left: 6px;
                }
            }
        } 
    }
    .redes-sociales{
        transition: all .5s ease;
        line-height: 40px;
        font-size: 40px;
        .redes{
            letter-spacing: 10px;
        }
        .redes:hover{
            padding-left: 10px;
            font-size: 45px;
        }
    }
}
.subir{
    height: 40px;
    color: $color-resaltador;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
}
//Media Queries
@media (min-width:480px){
    .card{
        border-radius: 15px;
    }
    .contenedor{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        }
}
.cont1{
    grid-template-rows: repeat(2, 350px);
}
@media only screen and (min-width:768px){
    .cards-container{
        display: flex;
        justify-content: space-evenly;
        .card{
            height: 500px;
        }
    }
    .servicios{
        width: 100%;
        flex-wrap: nowrap;
        min-height: 500px;
        padding-top: 40px;
    }
    .cont1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px;
    }

    .contenedor{
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: repeat(4, 250px);
        .item1{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/4;
            grid-row: 4/5;
        }
    }
    .about-caja1{
        height: 700px;
        margin: 20px 70px;
    }
    .about-caja2{
        height: 600px;
        margin: 10px 70px;
    }
    .about-me{
        padding: 40px;
        p{
            font-size: 20px;
        }
    }
 }

 @media only screen and (min-width:1024px){
        .container-about-me{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr
            ;
            grid-template-rows: repeat(2, auto);
            .about-caja1{
                grid-column: 3/4;
                grid-row: 1/2;
                height: 350px;
                margin-left: 0;
            }
            .sec1{
                grid-column: 1/3;
                grid-row: 1/2;
                padding: 30px 70px;
                p{
                    font-size: 20px;
                }
            }
            .about-caja2{
                height: 350px;
                margin-right: 0;
                grid-column: 1/2;
                grid-row: 2/3;    
            }
            .sec2{
                grid-column: 2/4;
                grid-row: 2/3;
                padding: 30px 70px;
                p{
                    font-size: 20px;
                }
            }
        }
        .contenedor{
            grid-template-columns: 1fr  1fr 1fr 1fr;
            grid-template-rows: repeat(4, 350px);
            .item1{
                grid-column: 1/3;
                grid-row: 1/2;
            }
            .item2{
                grid-column: 3/5;
                grid-row: 1/2;
            }
            .item3{
                grid-column: 1/3;
                grid-row: 2/3;
            }
            .item4{
                grid-column: 3/5;
                grid-row: 2/3;
            }
            .item5{
                grid-column: 1/3;
                grid-row: 3/4;
            }
            .item6{
                grid-column: 3/5;
                grid-row: 3/4;
            }
            .item7{
                grid-column: 1/3;
                grid-row: 4/5;
            }
            .item8{
                grid-column: 3/5;
                grid-row: 4/5;
            }
        }
    }