                                       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$fuente1:sans-serif;
$fuente2: 'Poppins';

//Paleta de Colores
$color-fondo:#ccc;
$color-letra: #6ba3b8;
$color-nav: #dcffff;
$color-link:#4585a0;
$color-resaltador:#0074D9;
$color-bordes: #665e5e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: $color-fondo;
}
::-webkit-scrollbar-thumb{
    background-color: $color-letra;
    border-radius: 15px;
}
h1, h2, h3{
    color: $color-letra;
    text-align: center;
}
p{
    color: $color-letra;
}
img{
    object-fit: cover;
}
//Estilos Header
header{
    grid-area: header;
    padding: 0 15px;
    background-color: $color-nav;
    font-family: $fuente1;
    .navbar-brand{
        img{
            height: 100px;
        }
    }
    .navbar-nav{
        li{
            list-style: none;
            a{
                color:$color-link;
                font-weight: bold;
                font-size: 16px;
                margin-right: 20px;
            }
        }
    }
}
.navbar-nav{
    li{
        a:hover{
            color: $color-letra;
            text-decoration: underline;
            font-size: 17px;
        }
    }
}
// Estilos Index
main{
    height: 100vg;
    width: 100%;
    .jumbotron{
        margin-bottom: 20px;
        position: relative;
        img{
            width: 100%;
            display: block;
            object-fit: cover;
        }
        .fondo{
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 25px;
            background-color: lightblue;
            opacity: 0.6;
            padding: 5px;
            border-radius: 40px;
            h1{
                text-align: center;
                font-size: 35px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
                position: relative;
            }
            p{
                font-size: 20px;
                color: $color-resaltador;
                text-shadow: 2px 2px 4px #0074D9;
                position: relative;
                text-align: center;
            }
        }
    }
    .cards-container{
        .card{
            height: 610px;
            width: 300px;
            padding: 10px;
            border: 5px solid $color-fondo;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: auto;
            .img1{
                min-height: 200px;
                border-radius: 15px;
            }
            h3{
                padding: 15px;
            }
            a{
                background-color: $color-fondo;
                color: $color-link;
                text-decoration: none;
                padding: 10px 15px;
            }
            a:hover{
                background-color: $color-letra;
                color:$color-fondo;
            }
        }
    }
    .servicios{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        min-height: 400px;
        padding-top: 20px;
        .ser-left{
            width: 100%;
            img{
                width:100%;
                height: 300px;
            }
        }
        .ser-right{
            width: 100%;
            ul{
                padding: 20px;
                color: $color-link;
                font-size: 25px;
                text-align: center;
                list-style: none;
            }
        }
    }
}
// Estilos-Sobre Mi
.container-about-me{
    .about-img1{
        display: flex;
        justify-content: center;
        height: 400px;
        width: 300px;
        margin: auto;
        .about-caja1{
            height: 100%;
            border: 2px solid $color-bordes;
            border-radius: 15px;
        }
    }
    .about-img2{
        display: flex;
        justify-content: center;
        height: 350px;
        margin: auto;
        .about-caja2{
            height: 100%;
            width: 100%;
            border: 2px solid $color-bordes;
            border-radius: 15px;
        }
    }
    .about-me{
        text-align: center;
        padding: 15px;
        a{
            text-decoration: none;
        }
        p{
            font-size: 18px;
        }
    }
}
//Esilos Blog
.blogs{
    margin: 20px;
    height: auto;
    border: 2px solid $color-bordes;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    .contenedor-blog{
        padding: 20px;
    }
}
.view{
    margin: 20px;
}
.texto-completo{
    display: none;
    p{
        display: inline;
    }
}
.nota[type="checkbox"] {
    height: 15px;
    display: block;
    appearance: none;
}
.nota_blog{
    position: relative;
    padding: 20px;
    background-color: $color-fondo;
    color: $color-link;
    padding: 10px 15px;
}
.nota_blog::before{
    content: "Ver mas";
}
.nota[type="checkbox"]:checked ~ .nota_blog::before{
    content: "Ver menos";
}
.view:has(~ .nota[type="checkbox"]:checked){
    display: none;
}
.texto-completo:has(~ .nota[type="checkbox"]:checked){
    display: inline;
}
.cont1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
    .img_oni{
        border: 5px solid $color-bordes;
        border-radius: 15px;
        width: 100%;
    }
}
.arti2{
    .nota[type="checkbox"]{
        height: 15px;
        display: block;
        appearance: none;
    }
    .nota_blog{
        position: relative;
        padding: 20px;
        background-color: $color-fondo;
        color: $color-link;
        padding: 10px 15px;
    }
    .nota_blog::before{
        content: "Ver mas";
    }
    .nota[type="checkbox"]:checked ~ .nota_blog::before{
        content: "Ver menos";
    }
    .view:has(~ .nota[type="checkbox"]:checked){
        display: none;
    }
    .texto-completo:has(~ .nota[type="checkbox"]:checked){
    display: inline;
    }
    ol{
        li{
            color: $color-letra;
            strong{
                color: black;
            }
        }
    }
}
aside{
    background-color: $color-fondo;
    display: inline-block;
    text-align: center;
    min-height: 400px;
    width: 100%;
    font-size: 30px;
    ul{
        list-style: none;
    }
    h2{
        font-size: 30px;
    }
    a{
        text-decoration: none;
    }
}
//Estilos Contactos
.contacto{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    ul{
        list-style: none;
        li{
            padding-bottom: 5px;
        }
    }
    img{
        height: 300px;
    }
    form{
        background-color: $color-letra;
        border-radius: 15px;
        padding: 10px;
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        textarea{
            width: 100%;
            padding: 8px;
            border-radius: 5px;
        }
        .button{
            background-color: $color-fondo;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
        }
        .button:hover{
            background-color: $color-resaltador;
            color:$color-fondo;
        }
    }
}
// Estilos Galeria
.contenedor{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 15px;
    .item{
        border: 5px solid $color-bordes;
        border-radius: 15px;
        overflow: hidden;
    }
    .item:hover{
        transform: scale(1.1);
        transition: all 0.5s;
        box-shadow: 8px 8px 15px #91c2d0;
        transition: all 0.5s;
    }
    .item_1{
        height: 200px;
        width: 100%;
    }
}
// Estilos Footer
footer{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: $color-nav;
    .img-footer{
        img{
            height: 200px;
        }
    }
    .enlaces{
        font-size: 18px;
        ul{
            font-family: $fuente2;
            padding: 0;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $color-link;
                }
                a:hover {
                    color: $color-letra;
                }
            }
        }
    }
    .redes-sociales{
        transition: all .5s ease;
        line-height: 40px;
        font-size: 40px;
        .redes{
            letter-spacing: 10px;
        }
        .redes:hover{
            padding-left: 10px;
            font-size: 45px;
        }
    }
}
.subir{
    height: 40px;
    color: $color-resaltador;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
}
//Media Queries
@media (min-width:480px){
    .card{
        border-radius: 15px;
    }
    .cont1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 500px);
        .img_oni{
            border: 5px solid $color-bordes;
            border-radius: 15px;
            width: 100%;
        }
    }
    .contenedor{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}
@media screen and (min-width: 768px) {
    .cards-container{
        display: flex;
        justify-content: space-evenly;
        .card{
            height: 500px;
        }
    }
    .servicios{
        .ser-left{
            img{
                display: none;
            }
        }
    }
    .cont1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px;
        .img_oni{
            justify-self: center;
            width: 300px;
        }
    }
    .contenedor{
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: repeat(4, 250px);
        .item1{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/4;
            grid-row: 4/5;
        }
        .item_1{
            height: 250px;
        }
    }
    .about-img2{
        padding-left: 30px;
    }
    .about-me{
        padding: 40px;
        p{
            font-size: 20px;
        }
    }
    .contacto{
        .img_cont{
            float: left;
            height: 400px;
            display: flex;
            margin: auto;
        }
        form{
            display: inline-block;
            width: 350px;
        }
    }
}
 @media only screen and (min-width:1024px){
    .container-about-me{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;        ;
        grid-template-rows: repeat(2, auto);
        .about-caja1{
            grid-column: 3/4;
            grid-row: 1/2;
            height: 350px;
            margin-left: 0;
        }
        .sec1{
            grid-column: 1/3;
            grid-row: 1/2;
            padding: 30px 70px;
            p{
                font-size: 20px;
            }
        }
        .about-caja2{
            height: 350px;
            margin-right: 0;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .sec2{
            grid-column: 2/4;
            grid-row: 2/3;
            padding: 30px 70px;
            p{
                font-size: 20px;
            }
        }
    }
    .cuerpo_blog{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: auto;
        .blogs{
            grid-column: 1/3;
        }
        .cont1{
            grid-column: 1/3;
            grid-row: 2/auto;
        }
        .arti2{
            grid-column: 1/3;
            grid-row: 3/4;
        }
        aside{
            grid-column: 3/4;
            grid-row: 1/5;
            font-size: 20px;
            border-radius: 15px;
        }
    }
    .contacto{
        .img_cont{
            height: 500px;
            margin-left: 80px;
        }
        form{
            width: 450px;
        }
    }
    .contenedor{
        grid-template-columns: 1fr  1fr;
        grid-template-rows: repeat(4, 350px);
        place-items: center;
        .item1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .item_1{
            height: 350px;
        }
    }
}